html, body {
  height: 100%;
  min-height: 100%;
}  
body{background: #4c95fc; font-family: 'Montserrat', sans-serif; color: #ffffff; margin: auto; text-align: center;}
.wrapper {
  height: 50%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 800px;
  margin: auto;
}

input{border: 1px solid white; background: #4c95fc; 
  padding: 20px; border-radius: 10px; width: 100%; color: white; 
  font-size: 24px; font-family: 'Montserrat', sans-serif; }
button{background: white; 
  color: #4c95fc;
   padding: 20px;
    border-radius: 10px;
     width: 100%; 
     border: none;
     font-size: 24px; 
     font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;}
h1{font-weight: 400; text-transform: uppercase; font-size: 60px; }
h1 span{font-weight: 800;  }
input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none;}
input[type=number] {-moz-appearance: textfield; appearance: textfield;}
.break {
  flex-basis: 100%;
  width: 0;
  height: 0;
  }

#resultado{color: white;  font-size: 24px; font-family: 'Montserrat', sans-serif;}